allow system_app proc_pagetypeinfo:file r_file_perms;
allow system_app proc_vmallocinfo:file r_file_perms;
allow system_app sysfs_zram:dir r_dir_perms;
allow system_app sysfs_zram:file r_file_perms;
allow system_app storaged:binder call;
allow system_app wificond:binder call;

get_prop(system_app, vendor_default_prop)

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;
